{
  "parser": "babel-eslint",
  "extends": ["yoctol"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state", "config"]
      }
    ]
  }
}
